@font-face {
    font-family: "iconfont"; /* Project id 3367048 */
    src: url('//at.alicdn.com/t/font_3367048_dowtarfiijp.woff2?t=1651648771682') format('woff2'),
    url('//at.alicdn.com/t/font_3367048_dowtarfiijp.woff?t=1651648771682') format('woff'),
    url('//at.alicdn.com/t/font_3367048_dowtarfiijp.ttf?t=1651648771682') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
    content: "\e630";
}

.icon-yingpian:before {
    content: "\e62a";
}

.icon-bofang:before {
    content: "\e624";
}

.icon-xiazai:before {
    content: "\e600";
}

.icon-close:before {
    content: "\e607";
}

.icon-sousuo:before {
    content: "\e60c";
}

.icon-shuaxin:before {
    content: "\e782";
}

.icon-qianjin:before {
    content: "\e605";
}

.icon-fanhui:before {
    content: "\e601";
}
